<html>

	<body>
		<table>
		<tr>
			<td>Número de preguntas: <%= numPreguntas %></td>
			<td>Número de comentarios: <%= comments %></td>
			<td>Número medio de comentarios/pregunta: <%= media %></td>
			<td>Número de preguntas sin comentarios: <%= preguntasSinComentarios %></td>
			<td>Número de preguntas con comentarios: <%= preguntasConComentarios %></td>
		</tr>
		</table>
	</body>
</hmtl>
